@charset "utf-8";
/*--design by PANGPANG--*/
body{
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 20px;
}

#wrap{
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------------HEADER------------------------------------*/


#header{
    width: 1000px;
    height: 200px;
    border: 1px solid#999;
    border-radius: 8px 8px 0 0;
    background-image: url(Gambar/header2.png)
}


/*------------------------------------MENU------------------------------------*/

#menu{
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    margin-top: 2px;
    background-color: #3cf;
}

#menu ul{
    margin: 0;
    padding: 0;
}

#menu ul li{
    list-style: none;
    float: left;
    padding: 4px 0px 6px;
    border-right: 1px solid #999;
    position: relative;
}

#menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#menu ul li a span{
    padding: 5px 19px 7px;
}

#menu ul li a:hover span{
    background-color: #09f;
    color: #fff;
}

#menu ul li ul{
    display: none;
}

#menu ul li:hover ul{
    display: block;
    position: absolute;
    top: 30px;
    background-color: #3cf;
    border: 1px solid #999;
    border-right: 0px solid #999;
}

#menu ul li:hover ul li{
    margin-top: 0;
    padding: 0;
}

#menu ul li:hover ul li a span{
    display: block;
    width: 150px;
}

/*------------------------------------BOX LEFT------------------------------------*/

#left{
    width:250px;
    height: 950px;
    border:1px solid #000;
    margin-top: 5px;
    float: left;
}
#top-left{
    width: 250px;
    height: 300px;
    border: 0px #ffffff;
    margin: 0px auto; 
    float: left;
}

#title{
    width: 100%;
    height: 30px;
    background-color: #3cf;
    margin-bottom: 1px;
    border: 1px solid#3cf;
    text-align: center;
    font-weight: bold;
}

#title p{
    padding: 0;
    margin: 5px auto;
}

#content-tl{
    width: 100%;
    height: 300px;
    border: 0px solid #000;
}

#content-tl ul{
    padding: 0;
    margin: 0;
}

#content-tl ul li{
    list-style: url(icon.png);
    margin: 10px 0 5px 30px ;
}

#content-tl ul li a{
    text-decoration: none;
    color: #000;
}
#content-tl li a:hover{
    color: #06f;
    text-decoration: underline;
}

/*------------------------------------TOP MIDDLE------------------------------------*/

#top-midle{
    width: 250px;
    height: auto;
    border: 1px #000000;
    margin: 0px auto; 
    margin-top: 40px;
    float: left;
}
#content-tm{
    width: 100%;
    height: auto;
    border: 0px solid #000;
}

#content-tm ul{
    padding: 0;
    margin: 0;
}

#content-tm ul li{
    list-style: url(icon.png);
    margin: 10px 0 5px 30px ;
}

#content-tm ul li a{
    text-decoration: none;
    color: #000000;
}

#content-tm li a:hover{
    color: #06f;
    text-decoration: underline;
}
/*------------------------------------BOTTOM LEFT------------------------------------*/
#bot-left{
    width: 250px;
    height: 250px;
    border: 2px #000;
    margin: 0px auto; 
    margin-top: 10px;
    float: left;
}
#gambar-bl{
    width: 250px;
    height: 250px;
    border: 0px solid #000;
    float: left;
}

#bot-left img{
    width: 220px;
    height: 250px;
    margin-left: 20px;
}
/*------------------------------------RIGHT BAR------------------------------------*/

#right{
    width: 740px;
    height: auto;
    float: right; 
    margin: 5px -2px 0 0;
    margin-right: 1px;
}

#top-right{
    width: 100%;
    height: auto;
    border: 1px solid #000;
}   

#content-tr{
    width: 100%;
    height: auto;
    border: 0px solid #000;
}

#content-tr p{
    text-align: justify;
    line-height: 25px;
    padding: 5px;
}

#content-tr img{
    float: left;
    width: 85px;
}

/*------------------------------------MIDDLE RIGHT------------------------------------*/

#middle-right{
    width: 100%;
    height: auto;
    margin-top: 2px;
    justify-content: space-around;
    display: flex;
}

#box-mr{
    width: 240px;
    height: 250px;
    border: 1px solid #999;
    float: left;
    margin-right: 8px;
    margin-top: 7px;
}

#box-middle{
    width: 240px;
    height: 250px;
    border: 1px solid #999;
    float: left;
    margin-right: 5px;  
    margin-top: 7px;
}

#box-mr1{
    width: 240px;
    height: 250px;
    border: 1px solid #999;
    float: right;
    margin-right: 0px;
    margin-top: 7px;
}

#box-mr1 img{
    width: 240px;
    height: 217px;
}

#page-boxmr{
    width: 100%;
    height: 215px;
    font-size: 10px;
    line-height: 15px;
}

#page-boxmid{
    width: 100%;
    height: auto;
    font-size: 10px;
    line-height: 15px;
    float: left;
}

#page-boxmid li{
    padding: 0 10px 0 25px;
    margin: 0;
    font-style: center;
    font-size: 13px;
}

#page-boxmr ul{
    padding: 0 10px 0 25px;
    margin: 0;
}

#page-boxmr li{
    list-style: url(icon.png);
}

#page-boxmr ul li a{
    color: #000;
    text-decoration: none;
}

#page-boxmr ul li a:hover{
    text-decoration: underline;
}

#page-boxmr a img{
    width: 220px;
    height: 217px;
}

/*------------------------------------BOX RIGHT BOTTOM------------------------------------*/

#right-bottom{
    width: 100%;
    height: 300px;
    margin: 10px auto 0;
    float: left;
}

#box-rb{
    width: 370px;
    height: 300px;
    border: 1px solid #999;
    float: left;
}

#page-boxrb{
    width: 100%;
    height: 267px;
    margin: 0;
    text-align: justify;
}

#page-boxrb ol li{
    margin: 0 5px 0 -10px;
    padding: 5px 10px 0 0;
}

#rb-boximg{
    width: 290px;
    height: 300px;
    float: right;
    border: 1px solid #999;
}

#rb-boximg img{
    width: 50px;
    height: 150px;
}

#page-boxrb img{
    width: 80px;
    height: 70px;
}
#box-rb1{
    width: 350px;
    height: 300px;
    border: 1px solid #999;
    float: right;
}
#page-boxrb1{
    width: 100%;
    height: 267px;
    margin: 0;
    text-align: justify;
}
#page-boxrb1 img{
    width: 350px;
    height: 267px;
}
/*------------------------------------BANNER------------------------------------*/

#banner{
    width: 100%;
    height: auto ;
    border: 1px solid #000;
    margin-top: 10px;
    object-fit: cover;
}

#banner img{
    width: 720px;
}

/*------------------------------------FOOTER------------------------------------*/

#footer{
    width: 1000px;
    height: auto;
    border: 0px solid #000;
    float: right; 
    margin: 5px 0;
    margin-top: 7px;
}

#ft-box1{
    width: 310px;
    height: 250px;
    border: 1px solid #999;
    float: left;
   margin-right: 30px;
}
#page-ftb1{
    width: 100%;
    height: 217px;
    background-color: #f8f8f8;
    float:left;
}
#page-ftb1 ul{
    margin: 0;
    padding: 10px 10px  5px 35px;
    line-height: 27px;
}
#ft-box2{
    width: 310px;
    height: 250px;
    border: 1px solid #999;
    float: left;
    margin-right: 10px;
}
#ft-box3{
    width: 310px;
    height: 250px;
    border: 1px solid #999;
    float: right;
}

#cr{
    width: 1000px;
    height: auto;
    border: 1px solid #000;
    float: right; 
    margin: 5px 0;
    margin-top: 5px;    
}
#copyright{
    width: 100%;
    height: 40px;
    margin: 5px auto;
    color: #999;
}